# Deepseek API key
DEEPSEEK_API_KEY=您的Deepseek API key

# 百度AI搜索相关配置
BAIDU_API_KEY=您的百度AI搜索 API key

# 阿里百炼
DASHSCOPE_API_KEY=您的阿里百炼 API key

# 莹石
YS_APP_KEY=萤石云 APP key
YS_APP_SECRET=萤石云 APP Secret
YS_DEVICE_SERIAL=设备序列号
YS_CHANNEL_NO=设备通道号
YS_DEVICE_CODE=设备编码